Babel==2.13.0
certifi==2023.7.22
chardet==5.2.0
click==8.1.7
Flask==3.0.0
Flask-Babel==4.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.0
gunicorn==21.2.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
requests==2.31.0
SQLAlchemy==2.0.22
stripe==7.0.0
urllib3==2.0.7
Werkzeug==3.0.0
