{% extends "confirm-layout.html" %}
{% block text %}

<h2 class="page-title">Merci !</h2>
<p>Merci de l'intérêt que vous portez à « Vim pour les humains » ! N'oubliez pas de contribuer par l'un des moyens suivants :</p>


<ul>
    <li>Bitcoin: 1Ngx95Fk1YFPX5PhBwxPHXErrd5nPE9iFG</li>
    <li><strong><a href="https://flattr.com/profile/vjousse">Flattr</a></strong> : <script id='fbc29k0'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=vjousse&button=compact&url=http%3A%2F%2Fvimebook.com%2Fdownload';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbc29k0');</script></li>
        <li>Un petit merci par mail : <a href="mailto:vincent@jousse.org">vincent@jousse.org</a></li>
        <li>Autre chose ?</li>
</ul>

{% endblock %}
