{% extends "confirm-layout.html" %}
{% block text %}

<h2 class="page-title">{{ _('Thank you!') }}</h2>
<p>{{ _("Your contribution has been recorded and your payment of <strong> %(amount)s</strong> € validated.<br />You can save <a href=\"%(request)s\">the link to this page</a> to download the book again later on.<br />20%% of the earnings are donated to <a href=\"http://www.framasoft.net/\">Framasoft</a>, an association promoting Free Software.", amount=amount, request=request.url) }}</p>.


{% endblock %}
