{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="span12">
        <div id="main_content" role="main">

            <h2 class="page-title">Livre payant, mais prix libre</h2>
            <p>Qu'est-ce que ça veut dire au juste ? Je suis persuadé que <strong>la culture et l'éducation devraient être accessibles à tous</strong>. Forcer les personnes à payer un prix que je décide à l'avance placerait forcément une barrière à la lecture du livre. C'est pourquoi je vous laisse choisir votre prix.</p>
            <p>Et que se passe-t-il si vous n'avez pas quelques euros à donner contre le travail que j'ai fourni en rédigeant ce livre ? Et bien téléchargez-le gratuitement et promettez-moi d'en faire bon usage, ça me fait plaisir. En revanche, vous ne me ferez pas croire que vous n'avez rien à donner en échange. Tout le monde a quelque chose à donner, ne serait-ce qu'un petit merci.</p>

            <p>Quoique vous donniez, ça sera une motivation de plus pour moi à écrire d'autres livre dans le même style.</p>

            <p>Si vous donnez en euros, <strong>20% des gains seront reversés à l'association de promotion du libre <a href="http://www.framasoft.net/">Framasoft</a></strong>.</p>

            <h2>Livre sous licence libre</h2>
            <p>Ça veut dire, qu'en plus de choisir ce que vous donnez, <strong>vous pourrez faire ce que vous voulez du livre</strong>. Le mettre à télécharger sur votre site, le filer à des potes, le diffuser sur les torrents, bref, ce que vous voulez. J'aime à croire que ce livre ne m'appartient pas : je n'aurais jamais pu le créer sans le travail de tous ceux qui ont contribué à Vim.</p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="{{ url_for('static', filename='img/cc88x31.png' ) }}" /></a><br />Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licence Creative Commons Attribution 4.0 International</a>.
            </p>


        </div><!-- end #main_content -->
    </div><!-- end .span12 -->
</div><!-- end .row -->

<div class="row">
    <div class="span12">

        <div id="payment-stripe">
        <div class="featured-bar">
        <h2>Contribuez à votre tour</h2>
            <h3>Fixez votre prix</h3>
            <script src="https://checkout.stripe.com/checkout.js"></script>

            <form method="POST" action="{{ url_for('charge') }}" id="stripeform">
                <input type="number" name="amount" id="amount" value="9.99" min="0" step="any" style="width: 40px" /> <span>€</span>

                <input type="submit" id="button-stripe" value="Contribuez et téléchargez" style="btn-orange"/>
                <p>
                <strong>20% des gains seront reversés à <a href="http://framasoft.net">Framasoft</a></strong>.</p>

            </form>
        </div>

            <script>
            var handler = StripeCheckout.configure({
                key: '{{ key }}',
                token: function(token) {
                    var $input = $('<input type=hidden name=stripeToken />').val(token.id);
                    var $inputEmail = $('<input type=hidden name=email />').val(token.email);
                    $('#stripeform').append($input).append($inputEmail).submit();
                }
            });

            document.getElementById('button-stripe').addEventListener('click', function(e) {
                // Open Checkout with further options
                var amount = parseFloat(document.getElementById('amount').value)*100;
                console.log(amount);
                if(amount > 0) {
                    handler.open({
                        name: 'Vimebook',
                        description: 'Vim pour les humains',
                        amount: amount,
                        currency: 'EUR',
                        allowRememberMe: false
                    });
                    e.preventDefault();
                }
            });
            </script>

            <p>

                Si vous ne pouvez pas contribuer en euros, fixez le prix à zéro et contribuez autrement :
            </p>

            <ul>
                <li>Bitcoin: 1Ngx95Fk1YFPX5PhBwxPHXErrd5nPE9iFG</li>
                <li><strong><a href="https://flattr.com/profile/vjousse">Flattr</a></strong> : <script id='fb17wor'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=vjousse&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb17wor');</script></li>
                 <li>Un petit merci par mail : <a href="mailto:vincent@jousse.org">vincent@jousse.org</a></li>
                 <li>Autre chose ?</li>
            </ul>




        </div><!-- end #payment-stripe -->
    </div><!-- end .span6 -->

</div><!-- end .row -->

{% endblock %}
