{% extends "layout.html" %}
{% block content %}

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div id="section-home" class="heading-block title-center nobottomborder page-section">
                        <h1>{{ _('The best way to stay efficient while learning Vim') }}</h1>
                        {{ _('<span>Or how to overcome the <span class="color">famous</span> question<span><br /><span>"How do I quit this <span class="color">@#!?</span>"</span>') }}
                    </div>

                    <div class="center bottommargin">
                        <a href="#" data-scrollto="#section-download" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-download"></i>{{ _('Download the ebook') }}</a>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third topmargin nobottommargin">

                        <h3>{{ _ ('Learn Vim the smart way') }}.</h3>

                        <p>{{ _("I'm convinced that everybody should be able to learn Vim and that it's just a problem of documentation. With this ebook you will:") }}</p>

                        <div class="divider divider-short"><i class="icon-circle"></i></div>

                        <ul class="iconlist iconlist-large iconlist-color">
                            <li><i class="icon-ok-sign"></i> {{ _('Stay productive while learning Vim') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Get a modern customizable IDE') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Learn why Vim seems so strange') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Get a selection of the best Vim plugins') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Have fun :-)') }}</li>
                        </ul>

                    </div>

                    <div class="col_two_third topmargin nobottommargin col_last">

                        <img src="{{ url_for('static', filename='images/icons/macbook_vim.png') }}" alt="Macbook Vim Underlay" style="position: absolute; top: 0; left: 0; z-index: 0;">


                    </div>

                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

                    <div id="section-content" class="heading-block title-center page-section">
                        <h2>{{ _('Content') }}</h2>
                        <span>{{ _('Yum yum') }}</span>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/responsive.png') }}" alt="Responsive Layout"></a>
                            </div>
                            <h3>{{ _('Good looking Vim') }}</h3>
                            <p>{{ _("It's not because we are geeks that we should use awful color schemes. Or should we?") }}</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="800">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/tick.png') }}" alt="Retina Graphics"></a>
                            </div>
                            <h3>{{ _('Pugin selection') }}</h3>
                            <p>{{ _("Using Vim without plugins doesn't make any sense. It's like using a Smartphone without any app.") }}</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/flag.png') }}" alt="Powerful Performance"></a>
                            </div>
                            <h3>{{ _('Smooth learning curve') }}</h3>
                            <p>{{ _("If you don't quit the first week, you'll be using it for the rest of your life. It's my bet!") }}</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/retina.png') }}" alt="Retina Graphics"></a>
                            </div>
                            <h3>{{ _('Creative Commons') }}</h3>
                            <p>{{ _('You are free to do whatever you want (well, almost, see the licence details <a href="http://creativecommons.org/licenses/by/4.0/">here</a>) with the ebook.') }}</p>
                        </div>
                    </div>


                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/tools.png') }}" alt="Retina Graphics"></a>
                            </div>
                            <h3>{{ _('Free price') }}</h3>
                            <p>{{ _("You're free to pay whatever you want. Money, <a href=\"https://flattr.com/profile/vjousse\">Flattr</a>, email or a thank you are fine. More <a href=\"https://ploum.net/the-disruptive-free-price/\">about free price here</a>.") }}</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/performance.png') }}" alt="Powerful Performance"></a>
                            </div>
                            <h3>{{ _('Open Source') }}</h3>
                            <p>{{ _('The entire source code is available on my <a href="https://github.com/vjousse/vim-for-humans-book">Github profile</a>. Be sure to check it out!') }}</p>
                        </div>
                    </div>

                    <div class="clear"></div>


                    <h4>{{ _('Introduction') }}</h4>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, odio, esse, atque, rem provident neque quos iure iusto quam dolorum architecto sunt itaque ut quia!</p>
                    </blockquote>

                    <h4>{{ _('Usable Vim') }}</h4>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, odio, esse, atque, rem provident neque quos iure iusto quam dolorum architecto sunt itaque ut quia!</p>
                    </blockquote>

                    <h4>{{ _("The text editor you've always dreamed of") }}</h4>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, odio, esse, atque, rem provident neque quos iure iusto quam dolorum architecto sunt itaque ut quia!</p>
                    </blockquote>

                    <h4>{{ _('Essential plugins') }}</h4>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, odio, esse, atque, rem provident neque quos iure iusto quam dolorum architecto sunt itaque ut quia!</p>
                    </blockquote>

                    <h4>{{ _('Cheatsheet & examples') }}</h4>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, odio, esse, atque, rem provident neque quos iure iusto quam dolorum architecto sunt itaque ut quia!</p>
                    </blockquote>

                    <div class="center">

                        <a href="#" data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin"><i class="icon-star3"></i>{{ _('Download the first chapter!') }}</a>

                    </div>


                    <div class="line"></div>

                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

                    <div id="section-faqs" class="heading-block title-center page-section">
                        <h2>{{ _('Frequently Asked Questions') }}</h2>
                        <span>{{ _('Would this site be serious without a FAQ?') }}</span>
                    </div>

                    <div class="col_half nobottommargin">

                        <h4 id="faq-1"><strong>Q.</strong> Is it really free?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</p>

                        <div class="line"></div>

                        <h4 id="faq-2"><strong>Q.</strong> Can I get a preview of the content?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</p>


                    </div>

                    <div class="col_half nobottommargin col_last">

                        <h4 id="faq-7"><strong>Q.</strong> Is it possible to get a printed version?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad odio ab quis architecto recusandae doloremque incidunt! Eius, quidem, pariatur necessitatibus commodi aliquid deleniti repudiandae accusantium tempora soluta vel nesciunt est quibusdam iure adipisci aspernatur maiores saepe ea eaque quo harum reprehenderit similique nemo voluptate ullam natus illum magnam alias nobis doloremque delectus ipsa dicta repellat maxime dignissimos eveniet quae debitis ratione assumenda tempore officiis fugiat dolor. Saepe iusto praesentium ullam aliquam impedit.</p>

                        <div class="line"></div>

                        <h4 id="faq-8"><strong>Q.</strong> Can I thank you and share the love?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nisi, laborum autem reprehenderit excepturi harum ipsum quod sit. Inventore et sunt nemo natus labore voluptate omnis reprehenderit culpa. Minus vitae molestiae totam ut a accusamus at fugiat nemo debitis delectus? </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, esse, dolore, animi sed aliquam est consequatur atque magnam sunt voluptas nostrum sint minus neque iste ut velit iure eius! Hic, laudantium, consequatur veniam magnam ullam eveniet sed minus rem deleniti!</p>


                    </div>

                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

                    <div id="section-download" class="heading-block title-center page-section">
                        <h2>{{ _('Download') }}</h2>
                        <span>Still have Questions? Contact Us using the Form below</span>
                    </div>



                    <!-- Contact Info
                    ============================================= -->
                    <div class="col_full nobottommargin clearfix">

                        <div class="col_one_fourth">
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-map-marker2"></i></a>
                                </div>
                                <h3>Our Headquarters<span class="subtitle">Melbourne, Australia</span></h3>
                            </div>
                        </div>

                        <div class="col_one_fourth">
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-phone3"></i></a>
                                </div>
                                <h3>Speak to Us<span class="subtitle">(123) 456 7890</span></h3>
                            </div>
                        </div>

                        <div class="col_one_fourth">
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-skype2"></i></a>
                                </div>
                                <h3>Make a Video Call<span class="subtitle">CanvasOnSkype</span></h3>
                            </div>
                        </div>

                        <div class="col_one_fourth col_last">
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-twitter2"></i></a>
                                </div>
                                <h3>Follow on Twitter<span class="subtitle">2.3M Followers</span></h3>
                            </div>
                        </div>

                    </div><!-- Contact Info End -->

                </div>

                <div id="section-buy" class="section page-section footer-stick">

                    <div class="container clearfix">

                        <div class="heading-block title-center nobottomborder">
                            <h2>Enough? Start Building!</h2>
                            <span>Now that you have read all the Tid-Bits, so start with a plan</span>
                        </div>

                        <div class="center">

                            <a href="#" data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin"><i class="icon-star3"></i>Start your FREE Trial</a> - OR - <a href="#" data-scrollto="#section-pricing" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-user2"></i>Sign Up for a Subscription</a>

                        </div>

                    </div>

                </div>
            </div>

        </section><!-- #content end -->


{# Old Content #}
{#
        <div class="row">
            <div class="span12">
                <div class="featured-bar">
                    <p class="hero-p">Découvrez le moyen le plus rapide et le plus sûr d'apprendre Vim tout en restant productif.<br>Ce livre est <strong>payant, mais le <a href="http://ploum.net/le-prix-libre-une-impossible-utopie/">prix est libre</a></strong>. Il est diffusé sous licence libre <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="{{ url_for('static', filename='img/cc88x31.png' ) }}" /></a> et 20% des gains sont redistribués à l'association de promotion du libre : <a href="http://www.framasoft.net/">Framasoft</a>.<br/><a href="{{ url_for('download') }}">Téléchargez l'ebook (PDF/epub/mobi) « Vim pour les humains »</a> !</p>
                </div>
            </div>
        </div><!-- end .row -->

        <div class="row">
            <div class="span12">
                <div id="main_content" role="main">

                    <h2 class="page-title">Apprenez Vim intelligemment</h2>
                    <p>Je suis convaincu que Vim ne devrait pas être
                    réservé à une élite qui aime que la première marche d’un apprentissage
                    soit difficile à franchir. L’idée de <strong>« Vim pour les humains »</strong> est de vous proposer <strong>une méthode pour apprivoiser Vim en douceur, sans devoir perdre toute votre productivité</strong> pendant deux semaines.</p>
                    <p>Après avoir lu « Vim pour les humains » vous serez en mesure de :</p>
                    <ul>
                        <li><strong>Travailler efficacement</strong> au quotidien avec Vim sans changer vos habitudes.</li>
                        <li><strong>Apprendre petit à petit</strong> les particularités de Vim, sans devoir tout apprendre d’un coup.</li>
                        <li>Utiliser une <strong>sélection des meilleurs plugins</strong> exploiter toute la puissance de Vim.</li>
                        <li>Jour après jour, <strong>augmenter votre efficacité</strong> à saisir du texte.</li>
                    </ul>
                    <h2>Un Vim moderne</h2>
                    <p>Comme le montre la capture d’écran ci-dessous, vous disposerez d’un
                    Vim moderne qui n’a rien à envier aux meilleurs éditeurs de texte à la
                    mode.</p>
                    <div id="attachment_34" style="width: 1011px" class="wp-caption aligncenter"><img src="{{ url_for('static', filename='img/macvim-nerdtree.png') }}" alt="macvim" class="size-full wp-image-34" height="567" width="1001"><p class="wp-caption-text">Un Vim moderne</p></div>
                    <h2>Structure du livre</h2>
                    <p>Petit préambule : ce n’est <strong>pas un livre pour les experts ou les barbus de Vim</strong>.
                    Ce livre s’adresse aux novices de Vim désirant bénéficier d’un moyen
                    pour ne pas l’abandonner au bout de deux jours. Le but est de vous
                    mettre le pied à l’étrier et de vous permettre de <strong>franchir la première marche sans perdre toute votre productivité</strong>.
                    Libre à vous ensuite d’utiliser toutes les ressources disponibles sur
                    internet pour maitriser les subtilités les plus obscures de Vim.</p>
                    <p>Les principales ressources en question étant :</p>
                    <ul>
                        <li><a href="http://www.amazon.fr/gp/product/1934356980/ref=as_li_ss_tl?ie=UTF8&amp;camp=1642&amp;creative=19458&amp;creativeASIN=1934356980&amp;linkCode=as2&amp;tag=vincjous-21">Practical Vim: Edit Text at the Speed of Thought</a></li>
                        <li><a href="http://www.amazon.fr/gp/product/059652983X/ref=as_li_ss_tl?ie=UTF8&amp;camp=1642&amp;creative=19458&amp;creativeASIN=059652983X&amp;linkCode=as2&amp;tag=vincjous-21">Learning the vi and Vim Editors</a></li>
                        <li><a href="http://swaroopch.com/notes/Vim_fr/">A byte of Vim</a></li><a href="http://swaroopch.com/notes/Vim_fr/">
                        </a><li><a href="http://swaroopch.com/notes/Vim_fr/"></a><a href="http://vimbits.com/">Vim bits</a>
                        </li></ul>
                        <p>Tout ce que je vous propose ici est <strong>de gagner du temps</strong> en sélectionnant la méthode qui marche le mieux selon moi et en vous <strong>facilitant l’apprentissage de la bête</strong>. <strong>Le tout en français</strong> évidemment.</p>
                        <p>Voici un petit résumé des différents chapitres :</p>
                        <h3>Introduction</h3>
                        <p>Petit tour d’horizon des avantages de vim et de pourquoi c’est un des
                        meilleurs investissements que vous pouvez réaliser dans votre carrière.</p>
                        <h3>Rendre Vim utilisable</h3>
                        <p>Nous voyons ici comment configurer Vim pour qu’il soit utilisable par
                        un humain « normal ». Coloration syntaxique, explorateur de fichiers
                        (The NERD Tree), thème de couleurs (Solarized), utilisation de la
                        souris, … Nous abordons aussi pourquoi il sera important de se passer de
                        la souris pour la santé de vos mains/doigts. Vous pouvez d'ailleurs directement <a href="{{ url_for('static', filename='vim-pour-les-humains-extrait-chap1.pdf') }}">télécharger le chapitre entier</a>.</p>
                        <h3>L’outil de manipulation de texte rêvé</h3>
                        <p>Une fois que vous pouvez utiliser Vim « normalement » grâce au
                        chapitre précédent, nous voyons ici comment en tirer pleinement partie.
                        Nous introduisons les raccourcis claviers ainsi que les modes. Nous
                        commençons petit à petit par nous passer de la souris.</p>
                        <h3>Les plugins indispensables</h3>
                        <p>Dans ce chapitre, nous faisons passer Vim au niveau supérieur. Nous
                        lui ajoutons des plugins tels que Lusty Explorer (explorateur de
                        fichiers au clavier), Ack (recherche dans les fichiers) ou encore Ctrl-p
                        (recherche / ouverture rapide de fichiers).</p>
                        <h3>Pense-bête et exemples</h3>
                        <p>Nous finissons par fournir un ensemble de raccourcis claviers utiles
                        et/ou indispensables pour maitriser l’édition de texte au clavier.</p>
                        <h2>Télécharger un extrait du livre</h2>
                        <p>Afin de mieux vous rendre compte de la teneur du livre, je vous propose de <strong><a href="{{ url_for('static', filename='vim-pour-les-humains-extrait-chap1.pdf') }}">télécharger le premier chapitre en entier</a></strong>.</p>
                        <h2>Se procurer le livre</h2>
                        <p>C’est bien beau tout ça, mais maintenant il va falloir passer à l’action ! Alors au boulot, <a href="{{ url_for('download') }}">téléchargez le livre !</a>                        <p><a href="{{ url_for('download') }}"><img src="{{ url_for('static', filename='img/cover.png') }}" alt="cover" class="aligncenter size-full wp-image-54" height="734" width="570"></a></p>

                </div><!-- end #main_content -->
            </div><!-- end .span12 -->
        </div><!-- end .row -->
        <div class="row">
            <div class="span12">
                <div class="featured-bar">
                    <p class="hero-p">Découvrez le moyen le plus rapide et le plus sûr d'apprendre Vim tout en restant productif.<br>Ce livre est <strong>payant, mais le <a href="http://ploum.net/le-prix-libre-une-impossible-utopie/">prix est libre</a></strong>. Il est diffusé sous licence libre <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="{{ url_for('static', filename='img/cc88x31.png' ) }}" /></a> et 20% des gains sont redistribués à l'association de promotion du libre : <a href="http://www.framasoft.net/">Framasoft</a>.<br/><a href="{{ url_for('download') }}">Téléchargez l'ebook (PDF/epub/mobi) « Vim pour les humains »</a> !</p>

                </div>
            </div>
        </div><!-- end .row -->
        #}

{% endblock %}
