{% extends "layout.html" %}
{% block content %}

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div id="section-home" class="heading-block title-center nobottomborder page-section">
                        <h1>{{ _('The best way to stay efficient while learning Vim') }}</h1>
                        {{ _('<span>Or how to overcome the <span class="color">famous</span> question<span><br /><span>"How do I quit this <span class="color">@#!?</span>"</span>') }}
                    </div>

                    <div class="center bottommargin">
                        <a href="#" data-scrollto="#section-download" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-download"></i>{{ _('Download the ebook') }}</a>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third topmargin nobottommargin">

                        <h3>{{ _ ('Learn Vim the smart way') }}.</h3>

                        <p>{{ _("I'm convinced that everybody should be able to learn Vim and that it's just a problem of documentation. With this ebook you will:") }}</p>

                        <div class="divider divider-short"><i class="icon-circle"></i></div>

                        <ul class="iconlist iconlist-large iconlist-color">
                            <li><i class="icon-ok-sign"></i> {{ _('Stay productive while learning Vim') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Get a modern customizable IDE') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Learn why Vim seems so strange') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Get a selection of the best Vim plugins') }}</li>
                            <li><i class="icon-ok-sign"></i> {{ _('Have fun :-)') }}</li>
                        </ul>

                    </div>

                    <div class="col_two_third topmargin nobottommargin col_last">

                        <img src="{{ url_for('static', filename='images/icons/macbook_vim.png') }}" alt="Macbook Vim Underlay" style="position: absolute; top: 0; left: 0; z-index: 0;">


                    </div>

                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

                    <div id="section-content" class="heading-block title-center page-section">
                        <h2>{{ _('Content') }}</h2>
                        <span>{{ _('Yum yum') }}</span>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/responsive.png') }}" alt="Responsive Layout"></a>
                            </div>
                            <h3>{{ _('Good looking Vim') }}</h3>
                            <p>{{ _("It's not because we are geeks that we should use awful color schemes. Or should we?") }}</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="800">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/tick.png') }}" alt="Retina Graphics"></a>
                            </div>
                            <h3>{{ _('Plugin selection') }}</h3>
                            <p>{{ _("Using Vim without plugins doesn't make any sense. It's like using a Smartphone without any app.") }}</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/flag.png') }}" alt="Powerful Performance"></a>
                            </div>
                            <h3>{{ _('Smooth learning curve') }}</h3>
                            <p>{{ _("If you don't quit the first week, you'll be using it for the rest of your life. It's my bet!") }}</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/retina.png') }}" alt="Retina Graphics"></a>
                            </div>
                            <h3>{{ _('Creative Commons') }}</h3>
                            <p>{{ _('You are free to do whatever you want (well, almost, see the licence details <a href="http://creativecommons.org/licenses/by/4.0/">here</a>) with the ebook.') }}</p>
                        </div>
                    </div>


                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/tools.png') }}" alt="Retina Graphics"></a>
                            </div>
                            <h3>{{ _('Free price') }}</h3>
                            <p>{{ _("You're free to pay whatever you want. Money, <a href=\"https://flattr.com/profile/vjousse\">Flattr</a>, email or a thank you are fine. More <a href=\"https://ploum.net/the-disruptive-free-price/\">about free price here</a>.") }}</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                                <a href="#"><img src="{{ url_for('static', filename='images/icons/features/performance.png') }}" alt="Powerful Performance"></a>
                            </div>
                            <h3>{{ _('Open Source') }}</h3>
                            <p>{{ _('The entire source code is available on my <a href="https://github.com/vjousse/vim-for-humans-book">Github profile</a>. Be sure to check it out!') }}</p>
                        </div>
                    </div>

                    <div class="clear"></div>


                    <h4>1 – {{ _('Introduction') }}</h4>
                    <blockquote>
                        <p>
                        {{ _('A brief overview of the advantages of vim and why it is one of the best investments you can make in your career.') }}
                        </p>
                    </blockquote>

                    <h4>2 – {{ _('Usable Vim') }}</h4>
                    <blockquote>
                        <p>
                        {{ _("In this chapter we see how to configure Vim to make it usable by a \"normal\" human. Syntax highlighting, file explorer (The NERD Tree), color scheme (Solarized), using the mouse ... We also discuss why it is important to abandon the mouse for the health of your hands / fingers. You can also directly <a href=\"%(link)s\">download the entire chapter</a>.", link=url_for('static', filename=g.current_lang + '-vim-extract-chap1.pdf')) }}
                        </p>
                        
                    </blockquote>

                    <h4>3 — {{ _("The text editor you've always dreamed of") }}</h4>
                    <blockquote>
                        <p>
                        {{ _("Once you will be able to use Vim \"normally\" thanks to the previous chapter, we will see here how to take full advantage of Vim. We introduce keyboard shortcuts as well as modes. We begin by gradually to do without the mouse.") }} 
                        </p>
                    </blockquote>

                    <h4>4 — {{ _('Essential plugins') }}</h4>
                    <blockquote>
                        <p>
                        {{ _("In this chapter, we put Vim to the next level. We add plugins such as Lusty Explorer (file explorer using the keyboard), Ack (file search) or Ctrl-p (fast searching/opening of files).") }}
                        </p>
                    </blockquote>

                    <h4>5 — {{ _('Cheatsheet & examples') }}</h4>
                    <blockquote>
                        <p>
                        {{ _("We finally provide a set of useful/essential shortcuts to master keyboard text editing.") }} 
                        </p>
                    </blockquote>

                    <div class="center">

                        <a href="{{ url_for('static', filename=g.current_lang + '-vim-extract-chap1.pdf') }}" data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin"><i class="icon-star3"></i>{{ _('Download the first chapter!') }}</a> - {{ _('OR') }} - <a href="#" data-scrollto="#section-download" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-user2"></i>{{ _('Download the ebook') }}</a>

                    </div>


                    <div class="clear"></div>

                    <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

                    <div id="section-faqs" class="heading-block title-center page-section">
                        <h2>{{ _('Frequently Asked Questions') }}</h2>
                        <span>{{ _('Would this site be serious without a FAQ?') }}</span>
                    </div>

                    <div class="col_half nobottommargin">

                        <h4 id="faq-1"><strong>Q.</strong> {{ _('Is it really free?') }}</h4>
                        <p>{{ _("Free price doesn't mean that it's free. I firmly believe that everybody has something to give in exchange of this ebook. The difference is just that I let you fix the price. It can be whatever you want: bitcoins, money, <a href=\"https://flattr.com/profile/vjousse\">Flattr</a>, email or a thank you are fine. More <a href=\"https://ploum.net/the-disruptive-free-price/\">about free price here</a>.") }}</p>

                        <div class="line"></div>

                        <h4 id="faq-2"><strong>Q.</strong> {{ _('Can I get a preview of the content?') }}</h4>
                        <p>{{ _('Sure, you can even') }} <a href="{{ url_for('static', filename=g.current_lang + '-vim-extract-chap1.pdf') }}">{{ _('download the first chapter') }}</a></p>


                    </div>

                    <div class="col_half nobottommargin col_last">

                        <h4 id="faq-7"><strong>Q.</strong> {{ _('Is this ebook suited for Vim experts?') }}</h4>
                        <p>
                        {{ _("Clearly not. This book is for Vim novices wishing not to quit after two days. The goal is to help you take the first step without losing all your productivity. There are a lot of resources available for gurus, like: <a href=\"http://www.swaroopch.com/notes/vim/\">A byte of vim</a>, <a href=\"http://www.vimbits.com/\">Vimbits</a>, <a href=\"http://www.amazon.fr/gp/product/059652983X/ref=as_li_ss_tl?ie=UTF8&camp=1642&creative=19458&creativeASIN=059652983X&linkCode=as2\">Learning The Vi and Vim Editors</a> and <a href=\"http://www.amazon.fr/gp/product/1934356980/ref=as_li_ss_tl?ie=UTF8&camp=1642&creative=19458&creativeASIN=1934356980&linkCode=as2\">Practical Vim</a>.") }}
                        </p>

                        <div class="line"></div>

                        <h4 id="faq-8"><strong>Q.</strong> {{ _("Can I thank you and share the love?") }}</h4>
                        <p>{{ _("The ebook is published under the CC licence") }} <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="{{ url_for('static', filename='images/cc88x31.png' ) }}" /></a>.</p>
                        <p>{{ _("So you can share it as you want!") }}</p>


                    </div>

                    <div class="clear"></div>

                </div>

                <div id="section-buy" class="section page-section footer-stick">

                    <div class="container clearfix">


                        <div id="section-download" class="heading-block title-center page-section">
                            <h2>{{ _('Download') }}</h2>
                            <span>{{ _('Here we are! Well, almost.') }}</span>
                        </div>

                        <h3>1 - {{ _('Choose your free price payment method') }}</h3>


                        <!-- Contact Info
                        ============================================= -->
                        <div class="col_full nobottommargin clearfix">

                            <input type="radio" id="p-euros" name="payment" checked="checked"/>
                            <label for="p-euros" style="display: inherit; margin-bottom:0px;">
                                <div class="col_one_fifth">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon" style="background-color: transparent;">
                                            <i class="icon-euro"></i>
                                        </div>
                                        <h3>{{ _('Credit Card') }}<span class="subtitle">{{ _('Starting at 0€') }}</span></h3>
                                    </div>
                                </div>
                            </label>

                            <input type="radio" id="p-paypal" name="payment" />
                            <label for="p-paypal" style="display: inherit; margin-bottom:0px;">
                                <div class="col_one_fifth">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon" style="background-color: transparent;">
                                            <i class="icon-paypal"></i>
                                        </div>
                                        <h3>PAYPAL<span class="subtitle">{{ _('Old school') }}</span></h3>
                                    </div>
                                </div>
                            </label>

                            <input type="radio" id="p-flattr" name="payment" />
                            <label for="p-flattr" style="display: inherit; margin-bottom:0px;">
                                <div class="col_one_fifth">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon" style="background-color: transparent;">
                                            <i class="icon-flattr"></i>
                                        </div>
                                        <h3>Flattr<span class="subtitle">{{ _('Flattr my page') }}</span></h3>
                                    </div>
                                </div>
                            </label>

                            <input type="radio" id="p-bitcoins" name="payment" />
                            <label for="p-bitcoins" style="display: inherit; margin-bottom:0px;">
                                <div class="col_one_fifth">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon" style="background-color: transparent;">
                                            <i class="icon-bitcoin2"></i>
                                        </div>
                                        <h3>Bitcoins<span class="subtitle">{{ _('Hype!') }}</span></h3>
                                    </div>
                                </div>

                            </label>


                            <input type="radio" id="p-mail" name="payment" />
                            <label for="p-mail" style="display: inherit; margin-bottom:0px;">
                                <div class="col_one_fifth col_last">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon" style="background-color: transparent;">
                                            <i class="icon-heart3"></i>
                                        </div>
                                        <h3>Message<span class="subtitle">{{ _('Share the love') }}</span></h3>
                                    </div>
                                </div>
                            </label>

                            <h3>2 - {{ _('Make the payment & get your ebook') }}</h3>

                            <div id="payment-euros" class="payment-method">
                                <div class="col_half">

                                    <form method="POST" action="{{ url_for('charge', lang_code=g.current_lang) }}" id="stripeform">

                                        <div class="col-md-2 col-xs-3 nopadding">
                                            <input class="sm-form-control" type="number" name="amount" id="amount" value="9.99" min="0" step="any" placeholder="Amount in €"/>
                                        </div>
                                        <div class="col-md-10 col-xs-9">
                                            <span style="padding-right: 20px">€</span>
                                            <button type="submit" id="button-stripe" class="button button-3d button-red nomargin"/>{{ _('Contribute and download') }}</button>
                                        </div>

                                        <div class="clear"></div>


                                        <ul style="padding-top: 15px; padding-left:15px;">
                                            <li><strong>{{ _('Average payment:') }} {{ average_donation }}€</strong></li>
                                            <li>{{ _('Downloads:') }} {{ download_number }}</li>
                                            <li><strong>{{ _('Donations:') }} {{ donation_number }}</strong></li>
                                            <li>{{ _('Minimum payment:') }} {{ min }}€, {{ _('maximum payment:') }} {{ max }}€</li>
                                            <li><strong>{{ _('Amount for Framasoft:') }} {{ framasoft_amount }}€</strong></li>

                                        </ul>
                                        <p><strong>{{ _('20%% of the earnings are donated to the <a href="http://framasoft.net">Framasoft association</a>, promoting Free Software.') }}</strong><br />
                                        {{ _('The payment platform used is <a href="http://stripe.com"><strong>Stripe</strong></a>.') }}</p>

                                    </form>
                                </div>
                                <div class="col_half col_last">
                                    <div class="col_one_fourth center">
                                        <div class="rounded-skill nobottommargin" data-color="#DD4B39" data-size="100" data-percent="25" data-width="3" data-animate="2500">2.5€</div>
                                        {{ _('Company taxes') }}
                                    </div>
                                    <div class="col_one_fourth center">
                                        <div class="rounded-skill nobottommargin" data-color="#00ACEE" data-size="100" data-percent="6" data-width="3" data-animate="2500">0.6€</div>
                                        {{ _('Stripe') }}
                                    </div>
                                    <div class="col_one_fourth center">

                                        <div class="rounded-skill nobottommargin" data-color="#EA4C89" data-size="100" data-percent="20" data-width="3" data-animate="2500">2€</div>
                                        {{ _('Framasoft donation') }}
                                    </div>
                                    <div class="col_one_fourth col_last center">
                                        <div class="rounded-skill nobottommargin" data-color="#3F729B" data-size="100" data-percent="49" data-width="3" data-animate="2500">4.9€</div>
                                        {{ _('Remaining') }}
                                    </div>
                                    <h4 class="center">{{ _('Repartition for 10€') }}</h4>
                                </div>

                            </div>

                            <div id="payment-paypal" class="payment-method">
                                <p>
                                <strong>{{ _('Paypal account:') }}</strong> contact@vimebook.com
                                </p>

                                <form method="POST" action="{{ url_for('charge', lang_code=g.current_lang) }}" id="stripeform">
                                    <input type="submit" class="button button-3d button-red button-xlarge nobottommargin noleftmargin" value="{{ _('Get the ebook') }}"></input>

                                <input type="hidden" name="amount" value="0" />
                                </form>
                            </div>

                            <div id="payment-flattr" class="payment-method">
                                <p>
                                    <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://vimebook.com/download"></a>
                                </p>

                                <form method="POST" action="{{ url_for('charge', lang_code=g.current_lang) }}" id="stripeform">
                                <input type="submit" class="button button-3d button-red button-xlarge nobottommargin noleftmargin" value="{{ _('Get the ebook') }}"></input>

                                <input type="hidden" name="amount" value="0" />
                                </form>
                            </div>

                            <div id="payment-bitcoins" class="payment-method">
                                <p>
                                <strong>{{ _('Send your bitcoins to:') }}</strong> 1Ngx95Fk1YFPX5PhBwxPHXErrd5nPE9iFG
                                </p>

                                <form method="POST" action="{{ url_for('charge', lang_code=g.current_lang) }}" id="stripeform">
                                <input type="submit" class="button button-3d button-red button-xlarge nobottommargin noleftmargin" value="{{ _('Get the ebook') }}"></input>

                                <input type="hidden" name="amount" value="0" />
                                </form>
                            </div>

                            <div id="payment-mail" class="payment-method">
                                <p>
                                {{ _('<strong>Send a thank you to:</strong> <a href="mailto:vincent@jousse.org">vincent@jousse.org</a>, or on Twitter to <a href="http://twitter.com/vjousse">@vjousse</a>.') }}
                                </p>


                                <form method="POST" action="{{ url_for('charge', lang_code=g.current_lang) }}" id="stripeform">
                                <input type="submit" class="button button-3d button-red button-xlarge nobottommargin noleftmargin" value="{{ _('Get the ebook') }}"></input>

                                <input type="hidden" name="amount" value="0" />
                                </form>
                            </div>



                        </div><!-- Contact Info End -->



                    </div>

                </div>
            </div>

        </section><!-- #content end -->


{% endblock %}
