<!DOCTYPE html>
<html dir="ltr" lang="{{ g.current_lang }}">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Vincent Jousse" />
    <meta property="og:title" content="{{ _('Vim for humans') }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url_for('index', lang_code=g.current_lang) }}" />
    <meta property="og:image" content="{{ url_for('static', filename='images/' + g.current_lang + '-screenshot.png') }}" />
    <!-- Stylesheets
    ============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-icons.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icon.css') }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>

    <!-- Document Title
    ============================================= -->
    <title>{{ _('Vim for humans | Free price ebook') }}</title>

    <link rel="canonical" href="http://vimebook.com/">
    <link rel="shortlink" href="http://vimebook.com/">

    <script type="text/javascript">
    /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
    /* ]]> */</script>

</head>



<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="{{ url_for('index', lang_code=g.current_lang) }}" class="standard-logo" data-dark-logo="{{ url_for('static', filename='images/' + g.current_lang + '-logo.png') }}"><img src="{{ url_for('static', filename='images/' + g.current_lang + '-logo.png') }}" alt="Canvas Logo"></a>
                        <a href="{{ url_for('index', lang_code=g.current_lang) }}" class="retina-logo" data-dark-logo="{{ url_for('static', filename='images/' + g.current_lang + '-logo@2x.png') }}"><img src="{{ url_for('static', filename='images/' + g.current_lang + '-logo@2x.png') }}" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul class="one-page-menu">
                            {% block menu_top %}
                            <li><a href="#" data-href="#section-content"><div>{{ _('Content') }}</div></a></li>
                            <li><a href="#" data-href="#section-faqs"><div>{{ _('FAQ') }}</div></a></li>
                            <li><a href="#" data-href="#section-download"><div>{{ _('Download') }}</div></a></li>
                            {% if g.current_lang != 'en' %}
                            <li><a href="{{ url_for(request.url_rule.endpoint, lang_code='en' ) }}"><div><span class="flag-icon flag-icon-gb" style="display:inline-block"></span></div></a></li>
                            {% endif %}
                            {% if g.current_lang != 'fr' %}
                            <li><a href="{{ url_for(request.url_rule.endpoint, lang_code='fr' ) }}"><div><span class="flag-icon flag-icon-fr" style="display:inline-block"></span></div></a></li>
                            {% endif %}

                            {% endblock %}
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->


        {% block content %}{% endblock %}

        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img class="footer-logo" alt="Licence Creative Commons" style="border-width:0" src="{{ url_for('static', filename='images/cc88x31.png' ) }}" /></a>
                        {{ _("This content is published under the <a rel=\"license\" href=\"http://creativecommons.org/licenses/by/4.0/\">CC licence</a>") }} .
                    </div>

                    <div class="col_half col_last tright">
                        <div class="copyrights-menu copyright-links fright clearfix">
                            {% block menu_bottom %}
                            <a href="#" data-href="#section-home">{{ _('Home') }}</a>/<a href="#" data-href="#section-content">{{ _('Content') }}</a>/<a href="#" data-href="#section-faqs">{{ _('FAQ') }}</a>/<a href="#" data-href="#section-download">{{ _('Download') }}</a></li>
                            {% endblock %}
                        </div>
                        <div class="clear"></div>
                        <div class="fright clearfix">

                            <a href="https://twitter.com/vjousse" class="social-icon si-small si-borderless nobottommargin si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="https://github.com/vjousse" class="social-icon si-small si-borderless nobottommargin si-github">
                                <i class="icon-github"></i>
                                <i class="icon-github"></i>
                            </a>

                            <a href="    https://fr.linkedin.com/pub/vincent-jousse/11/b1a/798" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->


    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>



    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>

</body></html>
