<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="fr-FR"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=" js no-flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="fr-FR"><!--<![endif]--><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Vim pour les humains</title>
    <link rel="stylesheet" id="best-styles-css" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all">
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.js') }}"></script>
    <link rel="canonical" href="http://vimebook.com/">
    <link rel="shortlink" href="http://vimebook.com/">
</head>
<body class="home page page-id-11 page-template page-template-template-fullwidth-php">
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
    </header>
    <div class="container container-main">
        <div class="row">
            <div class="span12 site-heading">
                <div class="row">
                    <div class="span8 clearfix">
                        <div class="name-text">
                            <hgroup>
                            <h1>
                                <a href="http://vimebook.com/" title="Vim pour les humains">Vim pour les humains</a>
                            </h1>
                            </hgroup>
                        </div>
                    </div><!-- end .span8 -->
                    <div class="span4 header-banner-area">
                        <blockquote style="font-style:italic;font-size:16px">« <a href="https://payhip.com/s/paypal/KmTa">Apprendre Vim</a> est le meilleur investissement que j'ai jamais fait. Que ce soit en tant qu'écrivain, professeur ou programmeur : on <strong>l'apprend une fois, il nous suit partout, et pour toujours.</strong> »</blockquote>                    </div>
                </div><!-- end .row -->
                <hr class="hr-row-divider" style="clear: both;">
            </div><!-- end .span12 -->
        </div><!-- end .row -->


    {% block content %}{% endblock %}

    </div><!-- end .container.container-main -->


    <footer role="contentinfo">


        <div class="container container-main footer-top">
            <div class="row widget-area">
                <div class="span3">

                    &nbsp;
                </div>
                <div class="span3">

                    &nbsp;
                </div>
                <div class="span3">

                    &nbsp;
                </div>
                <div class="span3">

                    &nbsp;
                </div>
            </div><!-- end .row -->
        </div><!-- end .container.container-main .footer-top -->


        <div class="container container-main footer-bottom">
            <div class="row">
                <div class="span5">
                    <p>© 2013 <a href="http://vincent.jousse.org/" title="Vincent Jousse">Vincent Jousse</a></p>
                </div>
                <div class="span7 clearfix">
                    <nav class="clearfix" role="navigation">

                        <ul><li><a href="http://vimebook.com/" title="Home">Home</a></li></ul>
                    </nav>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container.container-main .footer-bottom -->


    </footer>

</body></html>
